/bin/
/build/
/config.*
!config.toml.dist
/docker-compose.override.yml
/vendor/

/var/*
!/var/docker
/var/docker/*
!/var/docker/volumes
/var/docker/volumes/*
!/var/docker/volumes/.gitkeep
!/var/log
/var/log/*
!/var/log/.gitkeep

# IDE integration
/.vscode/*
!/.vscode/launch.json
!/.vscode/tasks.json
/.idea/*
!/.idea/copyright/
!/.idea/*.iml
!/.idea/externalDependencies.xml
!/.idea/go.imports.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/scopes/
!/.idea/sqldialects.xml
