environment = "production"
debug = false
shutdownTimeout = "15s"

[log]
format = "json"
level = "info"

[instrumentation]
addr = ":10000"

[instrumentation.prometheus]
enabled = false

[instrumentation.jaeger]
enabled = false

# Configure either collectorEndpoint or agentEndpoint.
# When both are configured collectorEndpoint will take precedence and the exporter will report directly to the collector.
collectorEndpoint = "http://localhost:14268/api/traces?format=jaeger.thrift"
agentEndpoint = "localhost:6831"
# username = ""
# password = ""

[app]
addr = ":8000"

[database]
host = "localhost"
port = 3306
user = "root"
pass = ""
name = "app"
params = { charset = "utf8mb4" }

[redis]
host = "127.0.0.1"
port = 6379
password = []
