version: "3.1"

services:
    db:
        ports:
            - 3306:3306
        volumes:
            - ./var/docker/volumes/mysql:/var/lib/mysql

    prometheus:
        ports:
            - 9090:9090
        volumes:
            - ./var/docker/volumes/prometheus:/prometheus

    grafana:
        ports:
            - 3000:3000
        volumes:
            - ./var/docker/volumes/grafana:/var/lib/grafana

    jaeger:
        ports:
            - 14268:14268
            - 16686:16686
