[Unit]
Description=Modern Go Application

[Install]
WantedBy=multi-user.target

[Service]
# Prevent writes to /usr, /boot, and /etc
ProtectSystem=full

# Prevent accessing /home, /root and /run/user
ProtectHome=true

# Uncomment to use an environment file
# EnvironmentFile={{ user.home }}/etc/mga.env

# Start main service
ExecStart={{ user.home }}/bin/modern-go-application --config {{ user.home }}/etc/{{ app_service_name }}.toml

KillSignal=SIGTERM

# Don't want to see an automated SIGKILL ever
# SendSIGKILL=no

# Restart crashed server only, on-failure would also restart.
Restart=on-abort
RestartSec=5s
